
.rate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.rate-item {
  width: 250px;
  margin: 0 10px 10px 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid rgba(51, 51, 51, 0.527);
  border-radius: 3px;
}

.current-rate {
  margin-top: 20px;
  margin-right: 20px;
}

.current-rate>input {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.527);
  outline: none;
  background: transparent;
  padding: 3px 10px;
  width: 49px;
  margin-right: 20px;
}

.current-rate>button {
  background: transparent;
  padding: 3px 10px;
  border-radius: 3px;
  outline: none;
  border: 2px solid #fff;
  color: #fff;
}

.rate-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-item__logo {
  font-size: 1.5rem;
  color: rgba(51, 51, 51, 0.527);
  border: 2px solid rgba(51, 51, 51, 0.527);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 0;
  margin-right: 10px;
}

.rate-item__currency {
  font-size: 1.5rem;
  line-height: 0;
  margin-right: 10px;
}

.rate-item__сod {
  font-size: 1.5rem;
  line-height: 0;
  margin-right: 10px;
  color: rgba(51, 51, 51, 0.527);
}

.rate-item__name {
  text-align: center;
}
